body {
  background-color: #f0f0f0;
  margin: 0;
}

header {
  padding-inline: 1rem;
  background-color: white;
  display: flex;
  gap: 1rem;
  align-items: center;
}

header h1 {
  margin-right: auto;
}

header a {
  font-family: sans-serif;
}

main {
  padding: 1rem;
}

form#join-the-club {
  max-width: 512px;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

form#join-the-club > * {
  flex: 1;
}

form#join-the-club input[type="password"] {
  flex: 2;
}

#messages {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.message-card {
  background-color: white;
  padding-inline: 2rem;
  position: relative;

  h2 {
    text-transform: uppercase;
  }

  p {
    font-family: sans-serif;
    white-space: pre-wrap;
  }
}

.message-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-message {
  display: inline;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
